{% extends 'gameViewer/base.html' %} 
{% load static %} 

{% block title_block %} 
    Add a Game
{% endblock %}

{% block extra_head %}
    <script src="{% static 'js/add_game.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/add_game.css' %}"></link>
{% endblock %}

{% block body_block %}

    <h1>Add a game</h1>
    <div>
        <form id="game_form" method="post" action="/gameViewer/add_game/">
            {% csrf_token %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% for field in form.visible_fields %}
            {{ field.errors }} {{ field.help_text }} {{ field }}
            <br/> {% endfor %}
            <iframe id="iframemaps" width="600" height="450" frameborder="0" style="border:0" allowfullscreen hidden>
            </iframe>
            <br/>
            
            <input type="submit" name="submit" value="Create Game" />
        </form>
    </div>

{% endblock %}