
{% extends 'gameViewer/base.html' %} 
{% load static %}
{% load partials %}
{% block title_block %} 
    Neils super sweet game library
{% endblock %} 
{% block body_block %}
<link rel="stylesheet" type='text/css' href="{% static 'css/index.css' %}">
    <div class="landing">
        <h1 class="page-header text-center">Games</h1>
        <div class="section" id="featured-section">
        
            <div class="row" id="featured-cards" class="col-12">
                {% show_game_list Games %}
            </div>
        </div>
    </div>
{% endblock %}   