.Pridi{font-family: Pridi;
    font-size: 20px;}
.Athiti{font-family: Athiti;}


nav {
    padding-top:5px;
    padding-bottom:2px;
 }


input {
width:100%;
padding-left:20px;
padding-top:10px;
border: 1px solid black;
border-radius: 4px;}

.nav-logo{
    width: 120px;
    height: auto;
}

  /* ~~ Top Navigation Bar ~~ */
  
  .navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
  }
  
  .navigation-bar {
    background-color: #0C165E;;
    height: 70px;
    width: 100%;
    text-align:center;
  }
  .navigation-bar img{
  float:left;
  }
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }


.float-right{
float: right;
}
.float-left{
float: left;
}

