.Pridi{font-family: Pridi;
    font-size: 20px;}
.Athiti{font-family: Athiti;}


nav {
    padding-top:5px;
    padding-bottom:2px;
 }


input {
width:100%;
padding-left:20px;
padding-top:10px;
border: 1px solid black;
border-radius: 4px;}

.nav-logo{
    width: 200px;
    height: auto;
}


.float-right{
float: right;
}
.float-left{
float: left;
}

.colorstrip{
    width: 100%; height: 50px;
    border-style: solid;
    border-color: #0C165E;
    background-color: #0C165E;
}